<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">

    <target 
          name="logFile" 
          type="File"
          layout="${longdate}|${threadid}|${logger}|${level}|${message} ${exception:format=tostring}"
          keepFileOpen="true"
          fileName="C:/Logs/ZenDesk/${date:format=yyyy-MM}/${shortdate}/${shortdate}.txt" />

      <target 
          name="logerror" 
          type="File"
          layout="${longdate}|${threadid}|${logger}|${level}|${message} ${exception:format=tostring}"
          fileName="C:/Logs/ZenDesk/Errors ${date:format=yyyy-MM}.txt" />

      <target 
          type="ColoredConsole"
          layout="${date:format=yyMMddHHmmss.ff} #${threadid} &lt;${logger}&gt; ${message}"
          name="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="TRACE" writeTo="logFile,Console" />
    <logger name="*" minlevel="Warn" writeTo="logError" />
  </rules>
</nlog>